# Анализ удовлетворенности клиентов
Цель - анализ уровня удовлетворенности клиентов на основе данных опроса.

В данном проекте мы оценим удовлетворенность клиентов по различным характеристикам, включая уровень образования, возраст, пол и доход. Проанализируем влияние этих факторов на общий уровень удовлетворенности, а также исследуем сегменты клиентов в зависимости от их удовлетворенности.

In [3]:
import sqlite3
import pandas as pd

### Подключаем необходимые библиотеки, подключаемся к базе данных

In [5]:
db = sqlite3.connect('../data/ACSI.db')

### Формируем SQL запрос

In [6]:
query = """
SELECT 
    CASE
        WHEN SATIS <= 6 THEN 'Critics'
        WHEN SATIS BETWEEN 7 AND 8 THEN 'Passives'
        WHEN SATIS > 8 THEN 'Promoters'
    END AS satisfaction_group,
    CASE 
        WHEN age < 18 THEN 'Under 18'
        WHEN age BETWEEN 18 AND 24 THEN '18-24'
        WHEN age BETWEEN 25 AND 34 THEN '25-34'
        WHEN age BETWEEN 35 AND 44 THEN '35-44'
        WHEN age BETWEEN 45 AND 54 THEN '45-54'
        WHEN age BETWEEN 55 AND 64 THEN '55-64'
        ELSE '65+' 
    END AS age_group,
    CASE 
        WHEN EDUCAT = 1 THEN 'Less than high school'
        WHEN EDUCAT = 2 THEN 'High school'
        WHEN EDUCAT = 3 THEN 'Some college or associate degree'
        WHEN EDUCAT = 4 THEN 'College graduate'
        WHEN EDUCAT = 5 THEN 'Post-graduate'
    END AS education_level,
    CASE 
        WHEN race_1 = 1 THEN 'White'
        WHEN race_1 = 2 THEN 'African-American'
        WHEN race_1 = 3 THEN 'American Indian/Alaskan Native'
        WHEN race_1 = 4 THEN 'Asian'
        WHEN race_1 = 5 THEN 'Native Hawaiian or Pacific Islander'
        WHEN race_1 = 6 THEN 'Other Race'
    END AS race,
    CASE 
        WHEN income = 1 THEN 'Under $20K'
        WHEN income = 2 THEN '$20K to $30K'
        WHEN income = 3 THEN '$30K to $40K'
        WHEN income = 4 THEN '$40K to $60K'
        WHEN income = 5 THEN '$60K to $80K'
        WHEN income = 6 THEN '$80K to $100K'
        WHEN income = 7 THEN '$100K or More'
    END AS income_level,
    CASE 
        WHEN gender = 1 THEN 'Male'
        WHEN gender = 2 THEN 'Female'
    END AS gender
FROM ACSI;
"""

### Выполним SQL запрос

In [7]:
df = pd.read_sql(query, db)
df

,satisfaction_group,age_group,education_level,race,income_level,gender
0,Promoters,65+,College graduate,White,$100K or More,Male
1,Passives,25-34,College graduate,White,Under $20K,Female
2,Passives,45-54,College graduate,White,None,Female
3,Passives,25-34,Post-graduate,Asian,$60K to $80K,Female
4,Promoters,18-24,Some college or associate degree,African-American,$40K to $60K,Male
...,...,...,...,...,...,...
8234,Passives,25-34,Less than high school,White,$20K to $30K,Female
8235,Critics,55-64,Post-graduate,White,$40K to $60K,Female
8236,Critics,35-44,Some college or associate degree,White,Under $20K,Female
8237,Critics,55-64,Some college or associate degree,White,$60K to $80K,Female
8238,Critics,25-34,High school,White,$30K to $40K,Female

### Сохраним полученную таблицу в csv файл

In [8]:
df.to_csv('../data/acsi_data.csv', index=False)

# Вывод
В данном файле мы извлекли с помощью SQL-запроса нужные нам данные, а также преобразовали их и сформировали таблицу с категоризациями по уровням удовлетворенности клиентов. 

В результате мы получили очищенные данные, которые были сохранены в CSV файл для дальнейшего анализа. Эти данные будут использованы для визуализаций и создания дашборда, а также для подготовки презентации с основными выводами.